{{ define "main" }}

{{ .Content }}

<div class="card-columns">

    {{ range .Pages }}

    <div class="card">
        <img alt=" {{ .Title }}" class="card-img-top img-responsive" style="display: block;"
            src="https://res.cloudinary.com/{{ .Site.Params.cloudinary_id }}/image/upload/c_lpad,w_500,h_300/{{ .Params.image }}">
        </img>

        <div class="card-body">
            <h3 class="card-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
            <p class="card-text">{{ .Content }}</p>

            {{/* <p class="card-text"><small class="text-muted"><a href={{ .Permalink }}>More...</a></small></p> */}}
        </div>
    </div>

    {{ end }}

</div>
{{ end }}