{{ define "main" }}

<a href="https://plu.mx/plum/a/?doi=10.1371/journal.pone.0056506" class="plumx-plum-print-popup"></a>


{{ $years := slice }}

{{ range sort .Params.publications "year" "desc"}}
{{ $years = $years | append .year}}
{{ end }}
{{ $years = $years | uniq }}


{{ range $elem_val := $years }}

<h2>{{$elem_val}}</h2>
<hr>

{{range $element := $.Params.publications }}

{{if and (eq $element.year $elem_val) (not (eq $element.draft "true")) }}

{{ partial "publication.html" . }}

{{ end }}



{{ end }}


{{ end }}

{{ end }}


{{ define "endBody"}}
<script type="text/javascript" src="//cdn.plu.mx/widget-popup.js"></script>
{{ end }}