{{ define "main" }}

{{ .Content }}


{{ range .Pages }}

<div class="card">
    <div class="row no-gutters">

        <div class="col-auto">
            {{ if .Params.imageid }}
            <img alt=" {{ .Title }}"
                src="https://res.cloudinary.com/{{ .Site.Params.cloudinary_id }}/image/upload/c_scale,w_320/{{ .Params.imageid }}">
            </img>
            {{ else if .Params.picture }}
            <img alt=" {{ .Title }}"
                src="https://res.cloudinary.com/{{ .Site.Params.cloudinary_id }}/image/upload/c_scale,w_320{{ .Params.picture }}">
            </img>
            {{ end }}
        </div>

        <div class="col px-3">
            <h4 class="card-title"><a href="{{.Permalink}}">{{ .Title }}</a></h4>
            <p class="card-text">{{ .Content }}</p>
        </div>
    </div>
</div>
{{ end }}
{{ end }}