<div class="card">
    <img alt=" {{ .Title }}" class="card-img-top" style="display: block;"
        src="https://res.cloudinary.com/{{ .Site.Params.cloudinary_id }}/image/upload/c_lpad,h_350,q_100,w_500/{{ .Params.image }}">
    </img>

    <div class="card-body">
        <h3 class="card-title">
            <!--<a href="{{ .Permalink }}"> -->{{ .Params.Name }}
            <!--</a>-->
        </h3>
        {{ if .Params.Title }}
        <h5>{{ .Params.Title }}</h5>
        {{ else if .Params.position }}
        <h5>{{ .Params.position }}</h5>
        {{ end }}
        <p class="card-text">{{ .Content }}</p>

        <!-- <p class="card-text"><small class="text-muted"><a href={{ .Permalink }}>More...</a></small></p>
                -->
    </div>
</div>