{{ define "head" }}
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
{{ end }}

{{ define "main" }}


<div class="row">
    {{ $carId := "car" }}
    <div class="col">{{ .Content }}</div>

    {{ if .Site.Menus.featured }}

    <div class="col-4" id="{{ $carId }}" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            {{- range $ind, $elem := .Site.Menus.featured -}}

            {{ if eq $ind 0}}
            <li data-target="#{{ $carId }}" data-slide-to="{{$ind}}" class="active"></li>

            {{ else }}
            <li data-target="#{{ $carId }}" data-slide-to="{{$ind}}"></li>
            {{ end }}
            {{ end }}
        </ol>
        <div class="carousel-inner">
            {{- range $ind, $elem := .Site.Menus.featured -}}


            {{ if eq $ind 0}}

            <div class="carousel-item active">
                {{- with .Page -}}

                {{ partial "carosel-item.html" . }}

                {{ end }}

            </div>
            {{ else }}
            <div class="carousel-item">
                {{- with .Page -}}

                {{ partial "carosel-item.html" . }}

                {{ end }}

            </div>
            {{ end }}
            {{ end }}
        </div>


        <a class="carousel-control-prev" href="#{{ $carId }}" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#{{ $carId }}" role="button" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>

    </div>
</div>

{{ end }}

{{ end }}




{{ define "endBody" }}
<script>
    if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
            if (!user) {
                window.netlifyIdentity.on("login", () => {
                    document.location.href = "/admin/";
                });
            }
        });
    }
</script>
{{ end }}