{{ define "meta" }}

<meta charset="utf-8" />

<meta name="viewport" content="width=device-width, initial-scale=1">

<meta property="site_name" content="{{ .Site.Title }}">

{{ if .Page.Title }}
<meta property="title" content="{{ .Page.Title }}">
{{ else }}
<meta property="title" content="{{ .Site.Title }}">
{{ end }}

{{ if .Page.Params.description }}
<meta property="description" content="{{ .Page.Params.description }}">
{{ else }}
<meta property="description" content="{{ .Site.Params.Description }}">
{{ end }}

{{ with .Page.Params.tags }}
<meta property="keywords" content="{{ delimit . `, ` }}">
{{ end }}

<meta name=" robots" content="index,follow" />
<meta name="googlebot" content="index,follow" />
<link rel="sitemap" type="application/xml" title="Sitemap" href="{{ .Site.BaseURL }}sitemap.xml" />


{{ end }}