<header class="container">
    <div class="container head_wrap">
        <img
            src="https://res.cloudinary.com/{{ .Site.Params.cloudinary_id }}/image/upload/v1381412670/uu1mlsbav8zglaovhod3.jpg">
    </div>
    <nav class="navbar navbar-expand-sm bg-primary navbar-dark" role="banner">
        <a class="navbar-brand" href="/">{{ .Site.Title }}</a>
        <ul class="navbar-nav">
            {{- $currentPage := . -}}
            {{ range .Site.Menus.navbar.Sort }}
            {{ $menuURL := .URL | absLangURL }}
            <li class="nav-item" style="list-style-type: none;">
                {{/* Between {{ }} has to stay on one line or there are errors */}}
                <a class="nav-link
                
                {{ if or ($currentPage.IsMenuCurrent `navbar` .) ($currentPage.HasMenuCurrent `navbar` .) }} active{{end}}"
                    href=" {{ .URL }}" title="{{ .Title }}">
                    {{ .Name }}</a>
            </li>
            {{ end }}
        </ul>


    </nav>
</header>